<% include partials/header.ejs %>

<div class = 'container center'>

	<form action='/' method="POST">
		<input type="text" placeholder="What's your Name ?" class='input' name = 'name'>
	</form>
</div>

<% include partials/footer.ejs %> 